body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    color: #f9faf8;
    font-size: 24px;
}

.header a,
.hero p {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding: 80px 0;
    justify-content: center;
    gap: 30px;
}

.hero h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero button {
    background-color: #3882f6;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 14px;
}

.hero .placeholder {
    padding: 50px;
    background-color: #6d747d;
    box-sizing: border-box;
    width: 50%;
}

